---
interface Props {
  src: string;
  titulo: string;
  descripcion: string;
}

const { src, titulo, descripcion } = Astro.props;
---

<div class="w-50 md:w-64 lg:w-72 mx-2">
  <div class="caratula rounded-lg shadow-md overflow-hidden relative cursor-pointer aspect-[3/4]">
    <div class="w-full h-full overflow-hidden">
      <img
        src={src}
        alt={titulo}
        class="imagen w-full h-full object-cover"
      />
    </div>
  </div>
  <p class="mt-2 text-start text-sm font-semibold">{descripcion}</p>
  {/*<div class="mt-5 rounded-3xl border-2 border-green-400 h-12 w-52">
  </div>*/}
  {/*  
  <div class="flex flex-row items-center">
    <img src="/assets/icons/cloud-rain.svg" alt="Lluvia" class="w-8 h-8" />
    <p class="px-2">Probabilidad de lluvia: 10%</p>
  </div>
  */}
</div>

<style>
  .caratula:hover .imagen {
    transform: scale(1.1);
  }

  .imagen {
    transition: transform 0.3s ease-in-out;
  }
</style>
