---
interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="caratula w-50 md:w-64 lg:w-72 mx-2 rounded-lg shadow-md overflow-hidden relative cursor-pointer aspect-[3/4]">
  <div class="w-full h-full overflow-hidden">
    <img
      src={src}
      alt={alt}
      class="imagen w-full h-full object-cover"
    />
  </div>
</div>

<style>
  .caratula:hover .imagen {
    transform: scale(1.1);
  }

  .imagen {
    transition: transform 0.3s ease-in-out;
  }
</style>
