---
interface Props {
  titulo: string;
  imagenes: { src: string; alt: string; rutaId: string }[];
}

const { titulo, imagenes } = Astro.props;

import Caratula from './Caratula.astro';
---

<section class="text-left py-6 px-5">
    <h2 class="text-3xl font-bold mb-4">{titulo}</h2>
    <div class="-mx-5">
      <div class="flex overflow-x-auto overflow-y-hidden gap-4 flex-nowrap scrollbar-hide px-5 no-scrollbar">
        {imagenes.map((imagen) => (
        <a href={`/martos-2d/${imagen.rutaId}`} class="transition-transform transform hover:scale-105">
        	<Caratula src={imagen.src} alt={imagen.alt} />
		</a>
        ))}
      </div>
    </div>
  </section>
  
<style>
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}
</style>