---
interface Props {
  titulo: string;
  imagenes: { src: string; alt: string; rutaId: string }[];
}

const { titulo, imagenes } = Astro.props;

import Caratula from './Caratula.astro';
---

<section class="text-left py-10 px-5 ">
  <div class="flex items-center w-full justify-center mb-10">
    <div class="flex-grow border-t border-gray-300 dark:border-gray-600"></div>
    <span class="text-3xl font-bold px-4">{titulo}</span>
    <div class="flex-grow border-t border-gray-300 dark:border-gray-600"></div>
  </div>
  
  
  <div class="-mx-5">
    
    <div class="flex overflow-x-auto overflow-y-hidden gap-4 flex-nowrap scrollbar-hide px-5 no-scrollbar">
      {imagenes.map((imagen) => (
        <a href={`/martos-2d/${imagen.rutaId}`} class="relative">
          <Caratula src={imagen.src} alt={imagen.alt} />
        </a>
        
      ))}
    </div>
  </div>
</section>

<style>
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
