---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icono.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Semana Santa Martos</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		color-scheme: dark;
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
