---
import ActualizarEstadoComponent  from "../../components/ActualizarEstado"
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <body>
    <ActualizarEstadoComponent client:load />
  </body>
</Layout>
