---
import ActualizarEstadoComponent  from "../../components/ActualizarEstado"
import Layout from "../../layouts/Layout.astro"
---

<Layout>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actualizar Estado - Admin</title>
  </head>
  <body>
    <ActualizarEstadoComponent client:load />
  </body>
</html>
</Layout>
