---
import Layout from '../../layouts/Layout.astro';
import AdminLogin from '../../components/AdminLogin';
---

<Layout title="Admin Login">
  <main class="min-h-screen flex items-center justify-center px-4">
    <AdminLogin client:load />
  </main>
</Layout>